* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: auto;
  padding: 2.5em;
  background: #129cbe;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

section {
  width: auto;
  height: 28em;
}

.casos {
  width: 80vw;
  height: 60vh;
  padding: 0.5em;
  margin-left: 100px;
  margin-top: 0.5em;
  border-radius: 20px;
}

.tag {
  width: 150px;
  height: 100px;
  margin-left: 0.5em;
  border-right: solid 2px white;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.number {
  width: 200px;
  height: 100px;
  margin-left: 0.5em;
  border: solid 2px white;
  border-radius: 20px;
  display: inline-block;
  float: right;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.content {
  width: 80vw;
  height: 40vh;
  padding: 0.5em;
  background: blue;
  margin-left: 100px;
  border-radius: 0 0 20px 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.descricao {
  width: 620px;
  height: 100px;
  margin-left: 0.5em;
  border: solid 2px white;
  border-radius: 20px;
  display: inline-block;
  float: right;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.table-fixed {
  width: 100%;
  margin-bottom: 5em;
  background: #fff;
  text-align: center;
}

/*This will work on every browser but Chrome Browser*/
.table-fixed thead {
  position: relative;
  /*position: -webkit-sticky;*/
  top:0;
  /*z-index: 1;*/
  background-color: #129cbe;
  color: #fff;
}

/*This will work on every browser*/
.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  height: 3em;
  top: 0;
  z-index: 999;
  background-color: #129cbe;
  color: #fff;
}

select{
  width: 200px;
  height: 30px;
  background: #a1660cd7;
  border: solid 2px #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
}

input[type=button]{
  background: #cf830fd7;
  width: 100px;
  height: 30px;
  border: solid 2px #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
}

input[type=button]:active{
  background: #a1660cd7;
}

/*table {
  *width: 790px;
  text-align: center;
  border: solid 3px white;
  background: white;
  table-layout: fixed;
  box-sizing: border-box;
  border-spacing: 0;
  width: 100%;
}

td+td {
  border-left: 1px solid #eee;
}

td,
th {
  border-bottom: 1px solid #eee;
  background: #129cbe;
  color: #ffffff;
  padding: 10px 25px;
}

table td {
  border: solid 3px white;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*table th {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  background-color: #129cbe;
  color: white;
  text-align: center;
  border: solid 3px 0 3px 0 white;
}*/

.fab {
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background: #129cbe;
  box-shadow: 1px 2px 4px black;
  z-index: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fab:hover {
  cursor: pointer;
}

i {
  padding: 6px;
}

.faq {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 250px;
  height: 430px;
  float: right;
  box-shadow: 1px 2px 4px black;
  border-radius: 5px;
  z-index: flex;
  flex-direction: column;
  background: #ffffff;
}

.news {
  width: 250px;
  height: 345px;
  border-radius: 0 0 5px 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chatbot {
  width: 250px;
  height: 397px;
  float: right;
  margin-top: 0.1em;
  border-radius: 0 0 5px 5px;
}

.topo {
  height: 110px;
  background: #129cbe;
  border-radius: 5px 5px 0 0;
}

/*.topo_chatbot{
  width: 250px;
  height: 40px;
  float: right;
  background: #129cbe;
  border-radius: 5px 5px 0 0;
}*/

.mensagem {
  color: white;
  text-align: center;
  font-weight: bold;
}

.box {
  height: 250px;
  width: 200px;
  margin-left: 1.5em;
}

.item {
  width: auto;
  height: 20px;
  border-radius: 50px;
  background: #129cbe;
  text-align: center;
  color: white;
  font-weight: bold;
  box-shadow: 1px 2px 4px black;
  margin-top: 1.5em;
}

.item:hover {
  cursor: pointer;
}

.fa-window-minimize:hover {
  cursor: pointer;
}

.bot {
  float: right;
}

/*.container {
  overflow-y: auto;
  height: 200px;
}

th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

/*th[scope=row] {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  z-index: 1;
}

th:not([scope=row]) {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

/*th {
  height: 0;
  line-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: transparent;
  border: none;
  white-space: nowrap;
}*/

/*th div {
  position: absolute;
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  top: 0;
  margin-left: -25px;
  line-height: normal;
  border-left: 1px solid #800;
}

th:first-child div {
  border: none;
  background: red;
  position: fixed;
}*/